* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: center;
}

html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-shadow: -1.25px -1.25px 0  #555, 1.25px -1.25px 0  #555, -1.25px 1.25px 0  #555, 1.25px 1.25px 0  #555;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
}



body {
    background-color: antiquewhite;
}

.wrapper {
    text-align: left;
}

.box {
    text-align: left;
    margin-left: 400px;
}