<h1>Log In</h1>
<h3><%= @error %></h3>
<form action="/login" method="post">
  <label>Username: </label><input type="text" name="username" placeholder="username">
  <br></br>
  <label>Password: </label><input type="password" name="password" placeholder="password">
  <br></br>
  <input type="submit" value="Log In">
  <br></br>
</form>

<p><a href="/">Home Page</a></p>