<h1>Sign Up For Travel Lister</h1>
<h3><%= @error %></h3>
<form action="/signup" method="post">
  <label>Username: </label><input type="text" name="username">
  <br></br>
  <label>Password: </label><input type="password" name="password">
  <br></br>
  <input type="submit" value="Sign Up">
  <br></br>
</form>

<p>Or <a href="/login">Log In</a> if you already have an account.</p> 