<h1>Travel Lister</h1>
<h3><a href='/list/new'>Click here to add a new entry</a></h3>
<br>
<h3><%= @message %></h3>
<% @lists.each do |list| %>
    <div id ="checkbox-container">
      <div>
        <label for="list.description"><%= list.description %></label>
        <input type="checkbox" name="list[description]" value="list[description]" id="list[description]">
         <a href="/list/<%= list.id %>/edit"> Edit </a> 
      </div>
    </div>
<% end %>
<br>

<p><a href="/">Home Page</a></p>
<p><a href="/logout">Log Out</a></p>
<%# <button>Check All</button> %>

<%# < Need to ensure that only the currently logged user who created this list can edit it> %>