<h1>Travel Lister</h1>
<h3><a href='/list/new'>Click here to add a new entry</a></h3>
<br>
<% @lists.each do |list| %>
<p><%= list.description %></p>
<a href="/list/<%= list.id %>/edit">Edit</a>
<br></br>
<% end %>

<%# < Need to ensure that only the currently logged user who created this list can edit it> %>