

<h1>Create a list</h1>
<h3><%= @error %></h3>
<form action="/list" method="post">
    <label for="description">Description:</label>
        <input type="text" name="description">
        <input type="submit" value="submit">
</form>

<br>
