<%= @lists.description %>

<form action="/list/<%= @lists.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <br>
  <input type="submit" value="delete">
</form>
